html, body {
  height: 100%;
}

body {
  background: radial-gradient(ellipse at bottom, #080a0e 0%, #090a0f 100%);
  background-size: cover;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.soa{
  animation: scrollIn 1.5s ease-in-out forwards;
}

@keyframes scrollIn {
  from{
    filter: blur(100%);
    transform: translateX(-100%);
  }
  to{
    filter: blur(0);
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navlink{
  position: relative;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #a0a0a0;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.navlink::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -2px;
  left: 0;
  background-color: #d4af37;
  transition: 0.3s;
}

.navlink:hover::after {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .navlink:hover::after{
    width: 19%;
  }

}

.card1 {
  background: rgba(8, 10, 14, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 2px 4px rgba(212, 175, 55, 0.35);
}

.atag {
  color: inherit;
  text-decoration: none;
}

.atag:hover {
  color: #d4af37;
}

.lastName {
  background: linear-gradient(to bottom, #d4af37, #73725a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 767px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
    padding: 5px 10px;
  }
  .navbar-expand-lg .navbar-brand {
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  footer {
    position: relative;
    margin-top: 30px;
  }
}

hr {
  border: none;
  border-top: 3px solid #ffffff; /* set border width to 4px and color to #ccc */
  margin: 1em 0; /* add some margin top and bottom */
}

.profile {
  border-radius: 50%;
  box-shadow: 0 0 5px 0 #d4af37;
} 

.imgprof{
  padding-left: 200px;
  padding-top: 35px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fullname {
  margin-bottom: -1px;
}